<div class="bg_gray resumo">
    <div class="container">
        <div class="row">
            <div class="list_menu" id="list_menu"></div>
            <!-- /col -->
            <div id="sidebar_fixed">
                <div class="box_order mobile_fixed resumo-pedido">
                    <!-- box_order (mobile)**** -->
                    <div class="head">
                        <h3>Resumo de Pedidos</h3>
                        <input type="hidden" value="0" id="total_chq" />
                        <a href="#0" type="hidden"></a>
                    </div>
                    <!-- /head -->
                    
                    <!-- RESUMO DO PEDIDO -->
                    <div class="main">
                        <ul class="clearfix" id="orderList"></ul>
                        <ul class="clearfix">
                            
                            <li></li> <!-- AQUI DEVE PASSAR OS ITENS ADICIONADOS-->


                            <!-- <li>Subtotal<span>$20</span></li> -->
                            <!-- <li>Taxa de Entrega<span>$10</span></li> -->
                            <li class="total">Total<span>R$ </span></li>
                        </ul>
                        <div class="btn_1_mobile">
                            <a href="order.html" class="btn_1 gradient full-width mb_5">Enviar
                                Pedido</a>
                        </div>
                    </div>
                </div>
                <!-- /box_order -->
                <div class="btn_reserve_fixed">
                    <a href="#0" class="btn_1 gradient full-width">Ver Carrinho</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<!-- fechando div que começou em categoria. -->
</div> 