<body>
<header class="header_in clearfix">
    <div class="container">
        <div class="layer"></div> <!-- Opacity Mask Menu Mobile -->
        <!-- <ul id="top_menu">
    <li><a href="wishlist.html" class="icon_cart_alt" title="Carrinho de compras"></a></li>
  </ul> -->
        <!-- /top_menu -->
        <a href="#0" class="open_close">
            <i class="icon_menu"></i><span>Menu</span>
        </a>
        <nav class="main-menu">
            <div id="header_menu">
                <a href="#0" class="open_close">
                    <i class="icon_close"></i><span>Menu</span>
                </a>
                <a href="index.html" id="nomeLoja" class="menu-loja text-center"></a>
            </div>

            <!-- MENU LATERAL -->
            <ul>
                <li class="submenu">
                    <a href="#0" class="show-submenu">Home</a>
                    <ul>
                        <li><a href="index.html">Home</a></li>

                    </ul>
                </li>
                <li class="submenu">
                    <a href="#0" class="show-submenu">Carrinho</a>
                    <ul>
                        <li><a href="index.html">Home</a></li>

                    </ul>
                </li>
                <li class="submenu">
                    <a href="#0" class="show-submenu">Meus Pedidos</a>
                    <ul>
                        <li class="third-level"><a href="#0">List pages</a>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#0" class="show-submenu">Perfil</a>
                    <ul>
                        <li><a href="admin_section/index.html" target="_blank">Usuário</a></li>
                        <li><a href="404.html">Endereços</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

