<%- include ('../partials/header.ejs') %>

    <body>      
        <main class="bg_gray">

            <%- include ('../partials/cardapio/cabecalho.ejs') %>
            
            <%- include ('../partials/cardapio/categoria') %>            
                         
        </main>
    </body>
<%- include ('../partials/footerCliente.ejs') %>