<%- include ('../partials/header.ejs') %>

    <body>
        <%/* - include ('../partials/cabecalho1.ejs')  */%>

        <main class="bg_gray">

            <%- include ('../partials/cardapio/cabecalho2.ejs') %>
            
               <%- include ('../partials/cardapio/categoria') %>            
                          
            
            
        
        <!-- </div> Fechando div main -->
                
        </main>
    </body>
<%- include ('../partials/footerCliente.ejs') %>